@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
}

.gold-text {
  color: #d4af37;
}

.gold-bg {
  background: #d4af37;
}

.section-padding {
  padding: 100px 24px;
}

.container-custom {
  max-width: 1200px;
  margin: auto;
}